﻿@{
    ViewBag.Title = "Character Select";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@if ((System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
{
    <p>Use this area to provide additional information.</p>
}
else
{
    Response.Redirect("~/Account/Login");
}
