﻿@model IList<DungeonCrawler.Models.Game.CharacterView>

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<div class="jumbotron container" id="characterListPanel" style="border: solid black 1px;">
    @for (var i = 0; i < ViewData.Model.Count; i++)
    {
        var c = ViewData.Model[i];
        var characterID = c.CharacterID;

        <a class="btn btn-primary btn-lg container col-lg-3" style="border:1px solid black; padding: 10px 10px 10px 10px; margin: 10px 10px 10px 10px;">
            <table id="@i">
                <tr><th style="padding:10px 10px 0px 10px;">CharacterID :</th> <td style="padding:10px 10px 0px 0px;"> @c.CharacterID</td></tr>
                <tr><th style="padding:10px 10px 0px 10px;">Name :</th> <td style="padding:10px 10px 0px 0px;"> @c.CharacterName</td></tr>
                <tr><th style="padding:10px 10px 0px 10px;">Gender :</th> <td style="padding:10px 10px 0px 0px;"> @c.Gender</td></tr>
                <tr><th style="padding:10px 10px 0px 10px;">Race :</th> <td style="padding:10px 10px 0px 0px;"> @c.RaceName</td></tr>
                <tr><th style="padding:10px 10px 10px 10px;">Class :</th> <td style="padding:10px 10px 10px 0px;"> @c.ClassName</td></tr>
            </table>
            @using (Html.BeginForm("SetCharacter", "Home", FormMethod.Post, new { id = characterID }))
            {
                @Html.Hidden("id", characterID)
                <input type="submit" value="Log In" />
            }
        </a>
    }
</div>

<p><a href="~/Home/CharacterCreation" class="btn btn-primary btn-lg">Create Character &raquo;</a></p>