﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    If you have any enquiries please forward them to us through one of the following contact methods.
</p>

<address>
    66 Applecross Dr.<br />
    South Australia, Australia<br />
    <abbr title="Phone">P:</abbr>
    (+61)428 084 117.
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:TristynMackay@hotmail.com">TristynMackay@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:TristynMackay@hotmail.com">TristynMackay@hotmail.com</a>
</address>