﻿@model DungeonCrawler.Models.Game.ClassesView

@{
    ViewBag.Title = "Create Class";
}

<h2>@ViewBag.Title</h2>


<div class="jumbotron container" id="characterListPanel" style="border: solid black 1px; text-align: center;">
   
    <div style="display: inline-block; width: 30%; background-color: #ff4848; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <div style="background-color: #dadaf0; display: inline-block; width: 240px; height: 140px; margin-top: 5%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateClassByName", "Home", FormMethod.Post))
            {
                <h4>Create Class By Name</h4>

                <label>Class Name <input type="text" name="className" id="className" /></label>;
                <br />
                <button type="submit">Create Class</button>
            }
        </div>
        <div class="container" style="display: inline-block; margin-top: 20px; margin-bottom: 5%;">
            <div>
                <label style="font: bold; font-size: 24px;">Classes</label>
            </div>
            <div style="height: 300px; overflow: auto;">
                <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                    <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                        <tr>
                            <th><font color="white">classID</font></th>
                            <th><font color="white">Class Name</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Class in Model.Classes)
                        {
                            <tr> <td>@Class.classID</td> <td>@Class.className</td> </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
