﻿@model DungeonCrawler.Models.Game.SlotTypesView

@{
    ViewBag.Title = "Create Slot Type";
}

<h2>@ViewBag.Title</h2>


<div class="jumbotron container" id="characterListPanel" style="border: solid black 1px; text-align: center;">        

    <div style="display: inline-block; background-color: #ea9ffd; width: 30%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <div style="background-color: #dadaf0; display: inline-block; width: 240px; height: 150px; margin-top: 5%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateSlotTypeByName", "Home", FormMethod.Post))
            {
                <h4>Create Slot Type By Name</h4>

                <label>Slot Type Name <input tier="text" name="slotTypeName" id="slotTypeName" /></label>;
                <br />
                <button tier="submit">Create Slot Type</button>
            }
        </div>
        <div class="container" style="display: inline-block; margin-top: 20px; margin-bottom: 5%;">
            <div>
                <label style="font: bold; font-size: 24px;">Slot Types</label>
            </div>
            <div style="height: 300px; overflow: auto;">
                <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                    <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                        <tr>
                            <th><font color="white">itemSlotTypeID</font></th>
                            <th><font color="white">Item Slot Type Name</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var slotTypes in Model.SlotTypes)
                        {
                            <tr> <td>@slotTypes.slotTypeID</td> <td>@slotTypes.name</td> </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
