﻿@model DungeonCrawler.Models.Game.ArmourTypesView

@{
    ViewBag.Title = "Create Armour Type";
}


<h2>@ViewBag.Title</h2>


<div class="jumbotron container" id="characterListPanel" style="border: solid black 1px; text-align: center;">        
    
    <div style="float: left; display: inline-block; background-color: #fdf772; width: 20%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <div style="width: 90%; background-color: #dadaf0; height: 160px; margin-top: 5%; margin-left: 5%; margin-right: 5%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateArmourTypeByName", "Home", FormMethod.Post))
            {
                <h4>Create Armour Type By Name</h4>

                <div class="container" style="display: inline-block;">
                    <label>Armour Type Name <input style="width: 90%;" type="text" min="1" name="armourTypeName" id="armourTypeName" /></label>
                </div>

                <br />

                <button tier="submit">Create Armour Type</button>
            }
        </div>
        <div style="background-color: #fdf772; margin-top: 20px; margin-left: 5%; margin-right: 5%;">
            <div>
                <label style="font: bold; font-size: 24px;">Armour Types</label>
            </div>
            <div style="height: 300px; overflow: auto;">
                <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                    <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                        <tr>
                            <th><font color="white">armourTypeID</font></th>
                            <th><font color="white">Armour Type Name</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var armourTypes in Model.ArmourTypes)
                        {
                            <tr> <td>@armourTypes.armourTypeID</td> <td>@armourTypes.name</td> </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
        <div style="background-color: #ffc470; margin-top: 20px; margin-bottom: 20px; margin-left: 5%; margin-right: 5%;">
            <div>
                <label style="font: bold; font-size: 24px;">Damage Types</label>
            </div>
            <div style="height: 300px; overflow: auto;">
                <table class="table table-bordered table-hover table-striped">
                    <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                        <tr>
                            <th><font color="white">damageTypeID</font></th>
                            <th><font color="white">Damage Type Name</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var damageType in Model.DamageTypes)
                        {
                            <tr> <td>@damageType.damageTypeID</td> <td>@damageType.name</td> </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div style="display: inline-block; width: 39%; background-color: tomato; margin-left: 1%; margin-right: 1%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <div style="float: left; width: 46%; background-color: #dadaf0; margin-top: 5%; margin-left: 2.5%; margin-right: 1.25%; display: inline-block; height: 270px; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateArmourWeaknessByName", "Home", FormMethod.Post))
            {
                <h4>Create Armour Weakness By Name</h4>

                    <div class="container" style="display: inline-block;">
                        <label style="float: left;">Armour Type Name <input style="width: 100%;" type="text" min="1" name="armourTypeName" id="armourTypeName" /></label>
                        <label style="float: left;">Damage Type Name <input style="width: 100%;" type="text" min="1" name="weaknessName" id="weaknessName" /></label>
                        <label style="float: left;">Amount <input style="width: 90%;" type="number" min="0" max="1000" step="0.01" name="amount" id="amount" /></label>
                    </div>

                    <br />

                    <button tier="submit">Create Weakness</button>
            }
        </div>
        <div style="float: right; width: 46%; background-color: #dadaf0; margin-top: 5%; margin-left: 1.25%; margin-right: 2.5%; display: inline-block; height: 270px; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateArmourWeaknessByID", "Home", FormMethod.Post))
            {
                <h4>Create Armour Weakness By ID</h4>

                    <div class="container" style="display: inline-block;">
                        <label style="float: left;">Armour Type ID <input style="width: 100%;" type="number" min="1" name="armourTypeID" id="armourTypeID" /></label>
                        <label style="float: left;">Damage Type ID <input style="width: 100%;" type="number" min="1" name="weaknessID" id="weaknessID" /></label>
                        <label style="float: left;">Amount <input style="width: 90%;" type="number" min="0" max="1000" step="0.01" name="amount" id="amount" /></label>
                    </div>

                    <br />

                    <button tier="submit">Create Weakness</button>
            }
        </div>

        <div class="container" style="display: inline-block; margin-top: 20px; margin-bottom:20px">
            <div>
                <label style="font: bold; font-size: 24px;">Armour Weaknesses</label>
            </div>
            <div style="height: 300px; overflow: auto;">
                <table class="table table-bordered table-hover table-striped">
                    <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                        <tr>
                            <th><font color="white">armourTypeID</font></th>
                            <th><font color="white">damageTypeID</font></th>
                            <th><font color="white">amount</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var armourWeakness in Model.ArmourWeaknesses)
                        {
                            <tr> <td>@armourWeakness.armourTypeID</td> <td>@armourWeakness.damageTypeID</td> <td>@armourWeakness.amount</td> </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div style="float: right; display: inline-block; width: 39%; background-color: mediumseagreen; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <div style="float: left; width: 46%; background-color: #dadaf0; margin-top: 5%; margin-left: 2.5%; margin-right: 1.25%; display: inline-block; height: 270px; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateArmourStrengthByName", "Home", FormMethod.Post))
            {
                <h4>Create Armour Strength By Name</h4>

                <div class="container" style="display: inline-block;">
                    <label style="float: left;">Armour Type Name <input style="width: 100%;" type="text" min="1" name="armourTypeName" id="armourTypeName" /></label>
                    <label style="float: left;">Damage Type Name <input style="width: 100%;" type="text" min="1" name="strengthName" id="strengthName" /></label>
                    <label style="float: left;">Amount <input style="width: 90%;" type="number" min="0" max="1000" step="0.01" name="amount" id="amount" /></label>
                </div>

                    <br />

                    <button tier="submit">Create Strength</button>
            }
        </div>
        <div style="float: right; width: 46%; background-color: #dadaf0; margin-top: 5%; margin-left: 1.25%; margin-right: 2.5%; display: inline-block; height: 270px; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateArmourStrengthByID", "Home", FormMethod.Post))
            {
                <h4>Create Armour Strength By ID</h4>

                <div class="container" style="display: inline-block;">
                    <label style="float: left;">Armour Type ID <input style="width: 100%;" type="number" min="1" name="armourTypeID" id="armourTypeID" /></label>
                    <label style="float: left;">Damage Type ID <input style="width: 100%;" type="number" min="1" name="strengthID" id="strengthID" /></label>
                    <label style="float: left;">Amount <input style="width: 90%;" type="number" min="0" max="1000" step="0.01" name="amount" id="amount" /></label>
                </div>

                    <br />

                    <button tier="submit">Create Strength</button>
            }
        </div>

        <div class="container" style="display: inline-block; margin-top: 20px; margin-bottom:5%">
            <div>
                <label style="font: bold; font-size: 24px;">Armour Strengths</label>
            </div>
            <div style="height: 300px; overflow: auto;">
                <table class="table table-bordered table-hover table-striped">
                    <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                        <tr>
                            <th><font color="white">armourTypeID</font></th>
                            <th><font color="white">damageTypeID</font></th>
                            <th><font color="white">amount</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var armourStrength in Model.ArmourStrengths)
                        {
                            <tr> <td>@armourStrength.armourTypeID</td> <td>@armourStrength.damageTypeID</td> <td>@armourStrength.amount</td> </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
