﻿@model DungeonCrawler.Models.Game.ItemTypesView

@{
    ViewBag.Title = "Create Item Type";
}

<h2>@ViewBag.Title</h2>


<div class="jumbotron container" id="characterListPanel" style="border: solid black 1px; text-align: center;">        

    <div style="display: inline-block; background-color: #9fbdfd; width: 30%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <div style="background-color: #dadaf0; display: inline-block; width: 240px; height: 150px; margin-top: 5%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateItemTypeByName", "Home", FormMethod.Post))
            {
                <h4>Create Item Type By Name</h4>

                <label>Item Type Name <input type="text" name="itemTypeName" id="itemTypeName" /></label>;
                <br />
                <button type="submit">Create Item Type</button>
            }
        </div>
        <div class="container" style="display: inline-block; margin-top: 20px;">
            <div>
                <label style="font: bold; font-size: 24px;">Item Type</label>
            </div>
            <div style="height: 300px; overflow: auto;">
                <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                    <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                        <tr>
                            <th><font color="white">itemTypeID</font></th>
                            <th><font color="white">Item Type Name</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itemTypes in Model.ItemTypes)
                        {
                            <tr> <td>@itemTypes.itemTypeID</td> <td>@itemTypes.name</td> </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
