﻿@model AllItemsView

@{
    ViewBag.Title = "Create Item";
}


<h2>@ViewBag.Title</h2>


<div class="jumbotron container" id="characterListPanel" style="border: solid black 1px; text-align: center;">        
    

    <div class="container">
        <div class="container" style="display: inline-block; width: 100%;">
            <!-- Item Tiers Table. -->
            <div style="float: left; display: inline-block; width: 33%; background-color: #ea9ffd; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                <div class="container" style="display: inline-block; margin-top: 20px; margin-bottom: 20px">
                    <div>
                        <label style="font: bold; font-size: 24px;">Item Tiers</label>
                    </div>
                    <div style="height: 300px; overflow: auto;">
                        <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                            <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                                <tr>
                                    <th><font color="white">itemTierID</font></th>
                                    <th><font color="white">Item Tier Name</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itemTiers in Model.ItemTiers)
                                {
                                    <tr> <td>@itemTiers.itemTierID</td> <td>@itemTiers.name</td> </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Item Types Table. -->
            <div style="display: inline-block; width: 33%; background-color: #9fbdfd; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                <div class="container" style="display: inline-block; margin-top: 20px; margin-bottom: 20px">
                    <div>
                        <label style="font: bold; font-size: 24px;">Item Types</label>
                    </div>
                    <div style="height: 300px; overflow: auto;">
                        <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                            <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                                <tr>
                                    <th><font color="white">itemTypeID</font></th>
                                    <th><font color="white">Item Type Name</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itemTypes in Model.ItemTypes)
                                {
                                    <tr> <td>@itemTypes.itemTypeID</td> <td>@itemTypes.name</td> </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Item Slot Types Table. -->
            <div style="float: right; display: inline-block; width: 33%; background-color: #aed9df; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                <div class="container" style="display: inline-block; margin-top: 20px; margin-bottom: 20px">
                    <div>
                        <label style="font: bold; font-size: 24px;">Item Slot Types</label>
                    </div>
                    <div style="height: 300px; overflow: auto;">
                        <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                            <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                                <tr>
                                    <th><font color="white">itemSlotTypeID</font></th>
                                    <th><font color="white">Item Slot Type Name</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var slotTypes in Model.SlotTypes)
                                {
                                    <tr> <td>@slotTypes.slotTypeID</td> <td>@slotTypes.name</td> </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="display: inline-block; width: 100%; margin-top: 10px;">
            <!-- Damage Types Table. -->
            <div style="float: left; background-color: #ffc470; display: inline-block; width: 33%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                <div style="margin-top: 20px; margin-bottom: 20px; width: 90%; display: inline-block;">
                    <div>
                        <label style="font: bold; font-size: 24px;">Damage Types</label>
                    </div>
                    <div style="height: 300px; overflow: auto;">
                        <table class="table table-bordered table-hover table-striped">
                            <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                                <tr>
                                    <th><font color="white">damageTypeID</font></th>
                                    <th><font color="white">Damage Type Name</font></th> 
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var damageType in Model.DamageTypes)
                                {
                                    <tr> <td>@damageType.damageTypeID</td> <td>@damageType.name</td> </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Weapon Types Table. -->
            <div style="background-color: #ffdc70; display: inline-block; width: 33%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                <div style="margin-top: 20px; margin-bottom: 20px; width: 90%; display: inline-block;">
                    <div>
                        <label style="font: bold; font-size: 24px;">Weapon Types</label>
                    </div>
                    <div style="height: 300px; overflow: auto;">
                        <table class="table table-bordered table-hover table-striped">
                            <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                                <tr>
                                    <th><font color="white">weaponTypeID</font></th>
                                    <th><font color="white">Weapon Type Name</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var weaponTypes in Model.WeaponTypes)
                                {
                                    <tr> <td>@weaponTypes.weaponTypeID</td> <td>@weaponTypes.name</td> </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Weapon Damage Types Table. -->
            <div style="float: right; background-color: #ffec70; display: inline-block; width: 33%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                <div style="margin-top: 20px; margin-bottom: 20px; width: 90%; display: inline-block;">
                    <div>
                        <label style="font: bold; font-size: 24px;">Weapon Damage Types</label>
                    </div>
                    <div style="height: 300px; overflow: auto;">
                        <table class="table table-bordered table-hover table-striped">
                            <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                                <tr>
                                    <th><font color="white">weaponTypeID</font></th>
                                    <th><font color="white">damageTypeID</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var weaponDamageTypes in Model.WeaponDamageTypes)
                                {
                                    <tr> <td>@weaponDamageTypes.weaponTypeID</td> <td>@weaponDamageTypes.damageTypeID</td> </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="display: inline-block; width: 100%;">
            <!-- Armour Types Table. -->
            <div style="display: inline-block; width: 33%; background-color: #fdf772; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                <div class="container" style="display: inline-block; margin-top: 20px; margin-bottom: 20px">
                    <div>
                        <label style="font: bold; font-size: 24px;">Armour Types</label>
                    </div>
                    <div style="height: 300px; overflow: auto;">
                        <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                            <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                                <tr>
                                    <th><font color="white">armourTypeID</font></th>
                                    <th><font color="white">Armour Type Name</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var armourTypes in Model.ArmourTypes)
                                {
                                    <tr> <td>@armourTypes.armourTypeID</td> <td>@armourTypes.name</td> </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Armour Weaknesses Table. -->
            <div style="display: inline-block; width: 33%; background-color: tomato; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                <div class="container" style="display: inline-block; margin-top: 20px; margin-bottom: 20px">
                    <div>
                        <label style="font: bold; font-size: 24px;">Armour Weaknesses</label>
                    </div>
                    <div style="height: 300px; overflow: auto;">
                        <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                            <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                                <tr>
                                    <th><font color="white">armourTypeID</font></th>
                                    <th><font color="white">damageTypeID</font></th>
                                    <th><font color="white">amount</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var armourWeakness in Model.ArmourWeaknesses)
                                {
                                    <tr> <td>@armourWeakness.armourTypeID</td> <td>@armourWeakness.damageTypeID</td> <td>@armourWeakness.amount</td> </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Armour Strengths Table. -->
            <div style="display: inline-block; width: 33%; background-color: mediumseagreen; margin-top: 10px; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                <div class="container" style="display: inline-block; margin-top: 20px; margin-bottom: 20px">
                    <div>
                        <label style="font: bold; font-size: 24px;">Armour Strengths</label>
                    </div>
                    <div style="height: 300px; overflow: auto;">
                        <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                            <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                                <tr>
                                    <th><font color="white">armourTypeID</font></th>
                                    <th><font color="white">damageTypeID</font></th>
                                    <th><font color="white">amount</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var armourStrength in Model.ArmourStrengths)
                                {
                                    <tr> <td>@armourStrength.armourTypeID</td> <td>@armourStrength.damageTypeID</td> <td>@armourStrength.amount</td> </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="display: inline-block; width: 100%; margin-top: 10px;">
            <!-- Currencies Table. -->
            <div style="display: inline-block; width: 33%; background-color: #f0e44b; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                <div class="container" style="display: inline-block; margin-top: 20px; margin-bottom: 20px">
                    <div>
                        <label style="font: bold; font-size: 24px;">Currencies</label>
                    </div>
                    <div style="height: 300px; overflow: auto;">
                        <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                            <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                                <tr>
                                    <th><font color="white">currencyID</font></th>
                                    <th><font color="white">Currency Name</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var currencies in Model.Currencies)
                                {
                                    <tr> <td>@currencies.currencyID</td> <td>@currencies.name</td> </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Currency Conversion Rates Table. -->
            <div style="display: inline-block; width: 33%; background-color: #e8e6c9; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                <div class="container" style="display: inline-block; margin-top: 20px; margin-bottom: 20px">
                    <div>
                        <label style="font: bold; font-size: 24px;">Conversion Rates</label>
                    </div>
                    <div style="height: 300px; overflow: auto;">
                        <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                            <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                                <tr>
                                    <th><font color="white">From currencyID</font></th>
                                    <th><font color="white">To currencyID</font></th>
                                    <th><font color="white">Conversion Rate</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var conversionRates in Model.CurrencyConversionRates)
                                {
                                    <tr> <td>@conversionRates.currencyID</td> <td>@conversionRates.otherCurrencyID</td> <td>@conversionRates.rate</td> </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Classes Table. -->
            <div style="display: inline-block; width: 33%; background-color: #ff4848; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                <div class="container" style="display: inline-block; margin-top: 20px; margin-bottom: 20px">
                    <div>
                        <label style="font: bold; font-size: 24px;">Classes</label>
                    </div>
                    <div style="height: 300px; overflow: auto;">
                        <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                            <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                                <tr>
                                    <th><font color="white">classID</font></th>
                                    <th><font color="white">Class Name</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var characterClass in Model.Classes)
                                {
                                    <tr> <td>@characterClass.classID</td> <td>@characterClass.className</td> </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Create Item Panel. -->
    <div class="container" style="background-color: #dadaf0; width: 95%; margin-top: 20px; margin-left: 2.5%; margin-right: 2.5%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; text-align: center;">
        <div class="" style="background-color: #eeeeee; display: inline-block; width: 90%; height: 1300px; margin-top: 5%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateNewItem", "Home", FormMethod.Post))
            {
                <h4>Create Item</h4>

                <div class="container">
                    <div class="container" style="float: left; display: inline-block; width: 33%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                        <!-- Generic Item Details. -->
                        <label>Item Name<input style="width: 80%;" type="text" min="1" name="itemName" id="itemName" /></label>
                        <br />
                        <label>Item Type<input style="width: 80%;" type="text" min="1" name="itemTypeName" id="itemTypeName" /></label>
                        <br />
                        <label>Item Tier<input style="width: 80%;" type="text" min="1" name="itemTierName" id="itemTierName" /></label>
                        <br />
                        <label>Slot Type<input style="width: 80%;" type="text" min="1" name="slotTypeName" id="slotTypeName" /></label>
                        <br />
                        <br />
                        <!-- Item Armour/Weapon/Damage Types. -->
                        <label>Armour Type<input style="width: 80%;" type="text" min="1" name="armourTypeName" id="armourTypeName" /></label>
                        <br />
                        <label>Weapon Type<input style="width: 80%;" type="text" min="1" name="weaponTypeName" id="weaponTypeName" /></label>
                        <br />
                        <label>Damage Type<input style="width: 80%;" type="text" min="1" name="damageTypeName" id="damageTypeName" /></label>
                        <br />
                        <br />
                        <!-- Durability Details. -->
                        <label>Durability (Percent)<input style="width: 80%;" type="number" min="0" step="0.01" value="100.00" name="durability" id="durability" /></label>
                        <br />
                        <label>Current Durability (Percent)<input style="width: 80%;" type="number" min="0" step="0.01" value="100.00" name="currentDurability" id="currentDurability" /></label>
                        <br />
                        <br />
                        <!-- Stack Details. -->
                        <label>Stackable<input style="width: 80%;" type="checkbox" name="stackable" id="stackable" /></label>
                        <br />
                        <label>Stack Amount<input style="width: 80%;" type="number" min="-1" step="1" value="1" name="stackAmount" id="stackAmount" /></label>
                        <br />
                        <label>Stack Max<input style="width: 80%;" type="number" min="-1" step="1" value="1" name="stackMax" id="stackMax" /></label>
                        <br />
                        <!-- Unique Details. -->
                        <label>Item is Unique<input style="width: 80%;" type="checkbox" name="unique" id="unique" /></label>
                    </div>
                    <div class="container" style="display: inline-block; width: 33%;">
                        <div style="border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                            <!-- Consumable Details. -->
                            <label>Item is Consumable<input style="width: 80%;" type="checkbox" name="consumable" id="consumable" /></label>
                            <br />
                            <label>Use Cooldown (seconds)<input style="width: 80%;" type="number" min="0" step="0.001" value="1.000" name="useCooldown" id="useCooldown" /></label>
                            <br />
                            <!-- Skill Details -->
                            <label>Skill<br /><input style="width: 100%;" type="text" min="1" name="skillName" id="skillName" /></label>
                            <br />
                            <label>Skill is Passive<input style="width: 80%;" type="checkbox" name="passive" id="passive" /></label>
                            <br />
                            <!-- Charges Details. -->
                            <label>Charges<input style="width: 80%;" type="number" min="-1" step="1" value="0" name="charges" id="charges" /></label>
                            <br />
                            <label>Current Charges<input style="width: 80%;" type="number" min="-1" step="1" value="0" name="currentCharges" id="currentCharges" /></label>
                            <br />
                            <br />
                            <!-- Class Details -->
                            <label>Required Class<input style="width: 80%;" type="text" min="1" name="className" id="className" /></label>
                            <br />
                            <!-- Level Details -->
                            <label>Required Level<input style="width: 80%;" type="number" min="1" step="1" value="1" name="requiredLevel" id="requiredLevel" /></label>
                        </div>
                        <div style="margin-top: 10px; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                            @for (var i = 0; i < Model.Currencies.Count; i++)
                            {
                                var currency = Model.Currencies[i];
                                if (i > 0)
                                {
                                    <br />
                                }
                                var id = currency.name.ToLower() + "Value";
                                <label>@currency.name Value<input style="width: 80%;" type="number" min="0" step="1" value="0" name="@id" id="@id" /></label>
                            }
                        </div>
                    </div>
                    <div class="container" style="float: right; display: inline-block; width: 33%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                        <!-- Stats Details. -->
                        <label>Min Damage<input style="width: 80%;" type="number" min="0" step="1" value="0" name="minDamage" id="minDamage" /></label>
                        <br />
                        <label>Max Damage<input style="width: 80%;" type="number" min="0" step="1" value="0" name="maxDamage" id="maxDamage" /></label>
                        <br />
                        <label>Armour<input style="width: 80%;" type="number" min="0" step="1" value="0" name="armour" id="armour" /></label>
                        <br />
                        <label>Magic Resistance<input style="width: 80%;" type="number" min="0" step="1" value="0" name="magicResistance" id="magicResistance" /></label>
                        <br />
                        <label>Healing<input style="width: 80%;" type="number" min="0" step="1" value="0" name="healing" id="healing" /></label>
                        <br />
                        <br />
                        <label>Health<br /><input style="width: 95%;" type="number" min="0" step="1" value="0" name="health" id="health" /></label>
                        <br />
                        <label>Mana<br /><input style="width: 95%;" type="number" min="0" step="1" value="0" name="mana" id="mana" /></label>
                        <br />
                        <label>Energy<input style="width: 80%;" type="number" min="0" step="1" value="0" name="energy" id="energy" /></label>
                        <br />
                        <label>Rage<br /><input style="width: 95%;" type="number" min="0" step="1" value="0" name="rage" id="rage" /></label>
                        <br />
                        <br />
                        <label>Movement Speed<input style="width: 80%;" type="number" min="0" step="0.001" value="0" name="movementSpeed" id="movementSpeed" /></label>
                        <br />
                        <label>Attack Speed (Seconds)<input style="width: 80%;" type="number" min="0" step="0.001" value="0" name="attackSpeed" id="attackSpeed" /></label>
                        <br />
                        <label>Cast Speed (Seconds)<input style="width: 80%;" type="number" min="0" step="0.001" value="0" name="castSpeed" id="castSpeed" /></label>
                        <br />
                        <label>Dodge (Percent)<input style="width: 80%;" type="number" min="0" step="0.001" value="0" name="dodge" id="dodge" /></label>
                        <br />
                        <label>Accuracy (Percent)<input style="width: 80%;" type="number" min="0" step="0.001" value="0" name="accuracy" id="accuracy" /></label>
                        <br />
                        <label>Spell Accuracy (Percent)<input style="width: 80%;" type="number" min="0" step="0.001" value="0" name="spellAccuracy" id="spellAccuracy" /></label>
                        <br />
                        <label>Cooldown (Percent)<input style="width: 80%;" type="number" min="0" step="0.001" value="0" name="cooldown" id="cooldown" /></label>
                        <br />
                        <br />
                        <label>Stamina<input style="width: 80%;" type="number" min="0" step="1" value="0" name="stamina" id="stamina" /></label>
                        <br />
                        <label>Strength<input style="width: 80%;" type="number" min="0" step="1" value="0" name="strength" id="strength" /></label>
                        <br />
                        <label>Agility<br /><input style="width: 95%;" type="number" min="0" step="1" value="0" name="agility" id="agility" /></label>
                        <br />
                        <label>Dexterity<input style="width: 80%;" type="number" min="0" step="1" value="0" name="dexterity" id="dexterity" /></label>
                        <br />
                        <label>Wisdom<input style="width: 80%;" type="number" min="0" step="1" value="0" name="wisdom" id="wisdom" /></label>
                        <br />
                        <label>Intelligence<input style="width: 80%;" type="number" min="0" step="1" value="0" name="intelligence" id="intelligence" /></label>
                    </div>
                </div>

                <br />

                <button tier="submit">Create Item</button>
            }
        </div>
        <!-- Items Table. -->
        <div style="display: inline-block; width: 90%; margin-top: 20px; margin-bottom: 20px;">
            <div>
                <label style="font: bold; font-size: 24px;">Items</label>
            </div>
            <div style="min-height: 50px; max-height: 300px; overflow: auto;">
                <table class="table table-bordered table-hover table-striped">
                    <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                        <tr> 
                            <th><font color="white">itemID</font></th>
                            <th><font color="white">Item Name</font></th>
                            <th><font color="white">itemTypeID</font></th>
                            <th><font color="white">itemTierID</font></th>
                            <th><font color="white">slotTypeID</font></th>
                            <th><font color="white">armourTypeID</font></th>
                            <th><font color="white">weaponTypeID</font></th>
                            <th><font color="white">damageTypeID</font></th>
                            <th><font color="white">Durability</font></th>
                            <th><font color="white">Current Durability</font></th>
                            <th><font color="white">Consumable</font></th>
                            <th><font color="white">Use Cooldown</font></th>
                            <th><font color="white">Charges</font></th>
                            <th><font color="white">Current Charges</font></th>
                            <th><font color="white">Stackable</font></th>
                            <th><font color="white">Stack Amount</font></th>
                            <th><font color="white">Stack Max</font></th>
                            <th><font color="white">Unique</font></th>
                            <th><font color="white">skillID</font></th>
                            <th><font color="white">Passive Skill</font></th>
                            <th><font color="white">classID</font></th>
                            <th><font color="white">Required Level</font></th>
                            <th><font color="white">Min Damage</font></th>
                            <th><font color="white">Max Damage</font></th>
                            <th><font color="white">Armour</font></th>
                            <th><font color="white">Magic Resistance</font></th>
                            <th><font color="white">Healing</font></th>
                            <th><font color="white">Health</font></th>
                            <th><font color="white">Mana</font></th>
                            <th><font color="white">Energy</font></th>
                            <th><font color="white">Rage</font></th>
                            <th><font color="white">Movement Speed</font></th>
                            <th><font color="white">Attack Speed</font></th>
                            <th><font color="white">Cast Speed</font></th>
                            <th><font color="white">Dodge</font></th>
                            <th><font color="white">Accuracy</font></th>
                            <th><font color="white">Spell Accuracy</font></th>
                            <th><font color="white">Cooldown</font></th>
                            <th><font color="white">Stamina</font></th>
                            <th><font color="white">Strength</font></th>
                            <th><font color="white">Agility</font></th>
                            <th><font color="white">Dexterity</font></th>
                            <th><font color="white">Wisdom</font></th>
                            <th><font color="white">Intelligence</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Items.Count; i++)
                        {
                            var items = Model.Items[i];
                            var itemStats = Model.ItemStats[i];
                            <tr> 
                                <td>@items.itemID</td> <td>@items.name</td> <td>@items.itemTypeID</td> <td>@items.itemTierID</td> 
                                <td>@items.slotTypeID</td> <td>@items.armourTypeID</td> <td>@items.weaponTypeID</td> <td>@items.damageTypeID</td> 
                                <td>@items.durability</td> <td>@items.currentDurability</td> <td>@items.consumable</td> <td>@items.useCooldown</td> 
                                <td>@items.charges</td> <td>@items.currentCharges</td> <td>@items.stackable</td> <td>@items.stackAmount</td> <td>@items.stackMax</td> 
                                <td>@items.isUnique</td> <td>@items.skillID</td> <td>@items.passiveSkill</td> <td>@items.classID</td> <td>@items.requiredLevel</td>
                                <td>@itemStats.minDamage</td> <td>@itemStats.maxDamage</td> <td>@itemStats.armour</td> <td>@itemStats.magicResistance</td>
                                <td>@itemStats.healing</td> <td>@itemStats.health</td> <td>@itemStats.mana</td> <td>@itemStats.energy</td> <td>@itemStats.rage</td> 
                                <td>@itemStats.movementSpeed</td> <td>@itemStats.attackSpeed</td> <td>@itemStats.castSpeed</td> <td>@itemStats.dodge</td>
                                <td>@itemStats.accuracy</td> <td>@itemStats.spellAccuracy</td> <td>@itemStats.cooldown</td> <td>@itemStats.stamina</td>
                                <td>@itemStats.strength</td> <td>@itemStats.agility</td> <td>@itemStats.dexterity</td> <td>@itemStats.wisdom</td>
                                <td>@itemStats.intelligence</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
