﻿@model DungeonCrawler.Models.Game.DamageTypesView

@{
    ViewBag.Title = "Damage Type";
}

<h2>@ViewBag.Title</h2>


<div class="jumbotron container" id="characterListPanel" style="border: solid black 1px; text-align: center;">

    <div style="display: inline-block; width: 30%; background-color: #ffc470; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <div style="display: inline-block; background-color: #dadaf0; width: 240px; height: 160px; margin-top: 5%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateDamageTypeByName", "Home", FormMethod.Post))
            {
                <h4>Create Damage Type By Name</h4>

                <label>Damage Type Name <input type="text" name="damageTypeName" id="damageTypeName" /></label>;
                <br />
                <button type="submit">Create Damage Type</button>
            }
        </div>
        <div class="container" style="margin-top: 20px; margin-bottom: 5%;">
            <div>
                <label style="font: bold; font-size: 24px;">Damage Types</label>
            </div>
            <div style="height: 300px; overflow: auto;">
                <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                    <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                        <tr>
                            <th><font color="white">damageTypeID</font></th>
                            <th><font color="white">Damage Type Name</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var damageType in Model.DamageTypes)
                        {
                            <tr> <td>@damageType.damageTypeID</td> <td>@damageType.name</td> </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
