﻿@model DungeonCrawler.Models.Game.ItemTiersView

@{
    ViewBag.Title = "Create Item Tier";
}

<h2>@ViewBag.Title</h2>


<div class="jumbotron container" id="characterListPanel" style="border: solid black 1px; text-align: center;">        

    <div style="display: inline-block; width: 30%; background-color: #ea9ffd; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <div style="background-color: #dadaf0; display: inline-block; width: 240px; height: 150px; margin-top: 5%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateItemTierByName", "Home", FormMethod.Post))
            {
                <h4>Create Item Tier By Name</h4>

                <label>Item Tier Name <input tier="text" name="itemTierName" id="itemTierName" /></label>;
                <br />
                <button tier="submit">Create Item Tier</button>
            }
        </div>
        <div class="container" style="display: inline-block; margin-top: 20px; margin-bottom: 5%;">
            <div>
                <label style="font: bold; font-size: 24px;">Item Tier</label>
            </div>
            <div style="height: 300px; overflow: auto;">
                <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                    <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                        <tr>
                            <th><font color="white">itemTierID</font></th>
                            <th><font color="white">Item Tier Name</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itemTiers in Model.ItemTiers)
                        {
                            <tr> <td>@itemTiers.itemTierID</td> <td>@itemTiers.name</td> </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
