﻿@model DungeonCrawler.Models.Game.ZonesView

@{
    ViewBag.Title = "Create Zone";
}

<h2>@ViewBag.Title</h2>


<div class="jumbotron container" id="characterListPanel" style="border: solid black 1px; text-align: center;">

    <div style="display: inline-block; width: 30%; background-color: #c789ff; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <div style="background-color: #dadaf0; display: inline-block; width: 240px; margin-top: 5%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateZoneByName", "Home", FormMethod.Post))
            {
                <h4 style="width:90%">Create Zone By Name</h4>

                <label>Zone Name <input style="width: 90%;" type="text" name="zoneName" id="zoneName" /></label>;
                <label>Zone Description <input style="width: 90%;" type="text" name="zoneDescription" id="zoneDescription" /></label>;
                <br />
                <button type="submit" style="margin-bottom: 5%;">Create Zone</button>
            }
        </div>

        <div class="container" style="display: inline-block; margin-top: 20px; margin-bottom: 5%;">
            <div>
                <label style="font: bold; font-size: 24px;">Zones</label>
            </div>
            <div style="height: 300px; overflow: auto;">
                <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                    <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                        <tr>
                            <th><font color="white">zoneID</font></th>
                            <th><font color="white">Zone Name</font></th>
                            <th><font color="white">Zone Description</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var zone in Model.Zones)
                        {
                            <tr> <td>@zone.zoneID</td> <td>@zone.name</td> <td>"@zone.description"</td> </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
