﻿@model DungeonCrawler.Models.Game.CurrenciesView

@{
    ViewBag.Title = "Create Currency";
}

<h2>@ViewBag.Title</h2>


<div class="jumbotron container" id="characterListPanel" style="border: solid black 1px; text-align: center;">

    <div style="float: left; display: inline-block; background-color: #f0e44b; width: 30%; margin-left: 15%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <div style="background-color: #dadaf0; display: inline-block; width: 90%; height: 160px; margin-top: 5%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateCurrencyByName", "Home", FormMethod.Post))
            {
                <h4>Create Currency By Name</h4>

                <label>Currency Name <input style="width: 90%;" type="text" name="currencyName" id="currencyName" /></label>;
                <br />
                <button type="submit">Create Currency</button>
            }
        </div>

        <div class="container" style="display: inline-block; margin-top: 20px; margin-bottom:20px">
            <div>
                <label style="font: bold; font-size: 24px;">Currencies</label>
            </div>
            <div style="height: 300px; overflow: auto;">
                <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                    <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                        <tr>
                            <th><font color="white">currencyID</font></th>
                            <th><font color="white">Currency Name</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var currencies in Model.Currencies)
                        {
                            <tr> <td>@currencies.currencyID</td> <td>@currencies.name</td> </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div style="float: right; display: inline-block; background-color: #e8e6c9; width: 39%; margin-right: 15%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <div style="float: left; background-color: #dadaf0; width: 46%; margin-top: 5%; margin-left: 2.5%; margin-right: 1.25%; display: inline-block; height: 270px; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateCurrencyRateByID", "Home", FormMethod.Post))
            {
                <h4>Create Conversion Rate By ID</h4>

                    <label>From Currency ID <input style="width: 80%;" type="number" name="currencyFrom" id="currencyFrom" min="1" /></label>;
                <br />
                    <label>To Currency ID <input style="width: 80%;" type="number" name="currencyTo" id="currencyTo" min="1" /></label>;
                <br />
                    <label>Conversion Rate <input style="width: 80%;" type="number" name="rate" id="rate" step="0.0001" min="0.0001" max="10000" /></label>;
                <br />
                    <button type="submit">Create Rate</button>
            }
        </div>

        <div style="float: right; background-color: #dadaf0; width: 46%; margin-top: 5%; margin-left: 1.25%; margin-right: 2.5%; display: inline-block; height: 270px; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateCurrencyRateByName", "Home", FormMethod.Post))
            {
                <h4>Create Conversion Rate By Name</h4>

                <label>From Currency Name <input style="width: 90%;" type="text" name="currencyFrom" id="currencyFrom" /></label>;
                <br />
                <label>To Currency Name <input style="width: 90%;" type="text" name="currencyTo" id="currencyTo" /></label>;
                <br />
                <label>Conversion Rate <input style="width: 80%;" type="number" name="rate" id="rate" step="0.0001" min="0.0001" max="10000" /></label>;
                <br />
                <button type="submit">Create Rate</button>
            }
        </div>

        <div class="container" style="display: inline-block; margin-top: 5%; margin-bottom:20px;">
            <div>
                <label style="font: bold; font-size: 24px;">Currency Conversion Rates</label>
            </div>
            <div>
                <table class="table table-bordered table-hover table-striped" style="margin: 0px 0px 0px;">
                    <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                        <tr>
                            <th><font color="white">From currencyID</font></th>
                            <th><font color="white">To currencyID</font></th>
                            <th><font color="white">Conversion Rate</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var conversionRates in Model.CurrencyRates)
                        {
                            <tr> <td>@conversionRates.currencyID</td> <td>@conversionRates.otherCurrencyID</td> <td>@conversionRates.rate</td> </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
