﻿@model DungeonCrawler.Models.Game.WeaponTypesView

@{
    ViewBag.Title = "Create Weapon Type";
}


<h2>@ViewBag.Title</h2>


<div class="jumbotron container" id="characterListPanel" style="border: solid black 1px; text-align: center;">        
    
    <div style="display: inline-block; width: 30%; background-color: #ffdc70; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <div style="display: inline-block; width: 90%; background-color: #dadaf0; height: 160px; margin-top: 5%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateWeaponTypeByName", "Home", FormMethod.Post))
            {
                <h4>Create Weapon Type By Name</h4>

                <div class="container" style="display: inline-block;">
                    <label>Weapon Type Name <input style="width: 90%;" type="text" min="1" name="weaponTypeName" id="weaponTypeName" /></label>
                </div>
                <br />
                <button tier="submit">Create Weapon Type</button>
            }
        </div>

        <div style="margin-top: 20px; width: 90%; margin-left: 5%;">
            <div>
                <label style="font: bold; font-size: 24px;">Weapon Types</label>
            </div>
            <div style="height: 300px; overflow: auto;">
                <table class="table table-bordered table-hover table-striped">
                    <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                        <tr>
                            <th><font color="white">weaponTypeID</font></th>
                            <th><font color="white">Weapon Type Name</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var weaponTypes in Model.WeaponTypes)
                        {
                            <tr> <td>@weaponTypes.weaponTypeID</td> <td>@weaponTypes.name</td> </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div style="margin-top: 20px; background-color: #ffc470; margin-bottom: 5%; width: 90%; margin-left: 5%;">
            <div>
                <label style="font: bold; font-size: 24px;">Damage Types</label>
            </div>
            <div style="height: 300px; overflow: auto;">
                <table class="table table-bordered table-hover table-striped">
                    <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                        <tr>
                            <th><font color="white">damageTypeID</font></th>
                            <th><font color="white">Damage Type Name</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var damageType in Model.DamageTypes)
                        {
                            <tr> <td>@damageType.damageTypeID</td> <td>@damageType.name</td> </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div style="display: inline-block; width: 39%; background-color: #ffec70; margin-left: 1%; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <div style="float: left; width: 44.5%; background-color: #dadaf0; margin-top: 5%; margin-left: 4%; margin-right: 1.25%; display: inline-block; height: 270px; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateWeaponDamageTypeByName", "Home", FormMethod.Post))
            {
                <h4>Create Weapon Damage Type By Name</h4>

                    <div class="container" style="display: inline-block;">
                        <label style="float: left;">Weapon Type Name <input style="width: 100%;" type="text" min="1" name="weaponTypeName" id="weaponTypeName" /></label>
                        <label style="float: left;">Damage Type Name <input style="width: 100%;" type="text" min="1" name="damageTypeName" id="damageTypeName" /></label>
                    </div>
                    <br />
                    <button tier="submit">Create Damage Type</button>
            }
        </div>
        <div style="float: right; width: 44.5%; background-color: #dadaf0; margin-top: 5%; margin-left: 1.25%; margin-right: 4%; display: inline-block; height: 270px; border: 1px solid black; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px;">
            @using (Html.BeginForm("CreateWeaponDamageTypeByID", "Home", FormMethod.Post))
            {
                <h4>Create Weapon Damage Type By ID</h4>

                    <div class="container" style="display: inline-block;">
                        <label style="float: left;">Weapon Type ID <input style="width: 100%;" type="number" min="1" name="weaponTypeID" id="weaponTypeID" /></label>
                        <label style="float: left;">Damage Type ID <input style="width: 100%;" type="number" min="1" name="damageTypeID" id="damageTypeID" /></label>
                    </div>
                    <br />
                    <button tier="submit">Create Damage Type</button>
            }
        </div>

        <div class="container" style="display: inline-block; margin-top: 20px; margin-bottom:2.5%">
            <div>
                <label style="font: bold; font-size: 24px;">Weapon Damage Types</label>
            </div>
            <div style="height: 300px; overflow: auto;">
                <table class="table table-bordered table-hover table-striped">
                    <thead style="background-color: black; white-space: nowrap; overflow: hidden;">
                        <tr>
                            <th><font color="white">weaponTypeID</font></th>
                            <th><font color="white">damageTypeID</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var weaponDamageTypes in Model.WeaponDamageTypes)
                        {
                            <tr> <td>@weaponDamageTypes.weaponTypeID</td> <td>@weaponDamageTypes.damageTypeID</td> </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
