﻿@model DungeonCrawler.Models.Game.CharacterData

@{
    ViewBag.Title = "Dungeon Crawler";
}


<script type="text/javascript">
    $(function () {
        $('a.dialog').click(function () {
            var url = $(this).attr('href');
            var inventory = $('<div style="display:none"></div>').appendTo('body');
            inventory.load(url, {}, function (responseText, textStatus, XMLHttpRequest) {
                inventory.inventory({
                    close: function (event, ui) {
                        inventory.remove();
                    }
                });
            });
            return false;
        });
    });
</script>


@if (ViewData.Model != null)
{
    if (ViewData.Model != null)
    {
        <div class="jumbotron container" style="background-color:black; position:absolute; width:1366px; height:768px; top:50%; left:50%; margin-left:-683px; margin-top:-394px;">
            <div class="container col-lg-1" style="border: 1px solid black">
                <p>@ViewData.Model.Character.characterName</p>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle col-lg-1" style="width:50px; height:50px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menus</button>
                <div class="dropdown-menu" style="width:50px; height:50px;">
                    <!-- Inventory button. -->
                    <button type="button" class="dropdown-item btn-info" data-toggle="modal" data-target="#inventory">Open Inventory</button>
                </div>
            </div>
        </div>



        <!-- Inventory window. -->
        <div id="inventory" class="modal fade" role="dialog" style="width: 600px; height: 600px; position:absolute; top:50%; left:50%; margin-left: -300px; margin-top: -300px; background-color:black;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times</button>
                <h4 class="modal-title">Inventory</h4>
            </div>
            <div class="modal-body">
                <p>Name   : @ViewData.Model.Character.characterName</p>
                <p>Gender : @ViewData.Model.Character.gender</p>
                <p>Race   : @ViewData.Model.RaceName</p>
                <p>Class  : @ViewData.Model.ClassName</p>
            </div>
            <div class="modal-footer bottom">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>


        @section scripts{
            <script src="~/Scripts/DC-Scripts/Game.js" type="text/javascript"></script>
        }
    }
}
else
{
    <p>Please select a character before attempting to go to this page.</p>
    <p><a href="~/Home/CharacterSelect" class="btn btn-primary btn-lg">Select Character &raquo;</a></p>
}

