﻿@{
    ViewBag.Title = "Help";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Browse through the links below to answer any questions you may have.</p>
<p>If you still can't find a solution to your problem don't be afraid to <a href="~/Home/Contact">Contact Us</a>.</p>
