﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" style="padding-left: 5%; padding-right: 5%;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dungeon Crawler", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="margin-left:50px;">@Html.ActionLink("Home", "Index", "Home")</li>

                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Information<span class="caret"></span>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Help", "About", "Home")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            </ul>
                        </a>
                    </li>
                    @if ((System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Game<span class="caret"></span>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Create Character", "CharacterCreation", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Select Character", "CharacterSelect", "Home")</li>
                                </ul>
                            </a>
                        </li>
                    }
                    @if ((System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.IsInRole("Owner"))
                    {
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-left:2px; margin-right:2px;">
                                Core<span class="caret"></span>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Races", "CreateRace", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Classes", "CreateClass", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Currencies", "CreateCurrency", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Damage Types", "CreateDamageType", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Factions", "CreateFaction", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Zones", "CreateZone", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("View All", "ViewAllCore", "Home")</li>
                                </ul>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-left:2px; margin-right:2px;">
                                Items<span class="caret"></span>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Item Tiers", "CreateItemTier", "Home")</li>
                                    <li>@Html.ActionLink("Item Types", "CreateItemType", "Home")</li>
                                    <li>@Html.ActionLink("Slot Types", "CreateSlotType", "Home")</li>
                                    <li>@Html.ActionLink("Armour Types", "CreateArmourType", "Home")</li>
                                    <li>@Html.ActionLink("Weapon Types", "CreateWeaponType", "Home")</li>
                                    <li>@Html.ActionLink("Items", "CreateItem", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Loot Tables", "CreateLootTable", "Home")</li>
                                    <li>@Html.ActionLink("Loot Boxes", "CreateLootBox", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("View All", "ViewAllItem", "Home")</li>
                                </ul>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-left:2px; margin-right:2px;">
                                Crafts<span class="caret"></span>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Recipes", "CreateRecipe", "Home")</li>
                                    <li>@Html.ActionLink("Craft Reagents", "CreateCraftReagent", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Alchemy Recipes", "CreateAlchemyRecipe", "Home")</li>
                                    <li>@Html.ActionLink("ArmourSmithing Recipes", "CreateArmoursmithingRecipe", "Home")</li>
                                    <li>@Html.ActionLink("Cooking Recipes", "CreateCookingRecipe", "Home")</li>
                                    <li>@Html.ActionLink("Enchanting Recipes", "CreateEnchantingRecipe", "Home")</li>
                                    <li>@Html.ActionLink("Fishing Recipes", "CreateFishingRecipe", "Home")</li>
                                    <li>@Html.ActionLink("Herbalism Recipes", "CreateHerbalismRecipe", "Home")</li>
                                    <li>@Html.ActionLink("JewelCrafting Recipes", "CreateJewelcraftingRecipe", "Home")</li>
                                    <li>@Html.ActionLink("LeatherWorking Recipes", "CreateLeatherworkingRecipe", "Home")</li>
                                    <li>@Html.ActionLink("Mining Recipes", "CreateMiningRecipe", "Home")</li>
                                    <li>@Html.ActionLink("RuneCrafting Recipes", "CreateRunecraftingRecipe", "Home")</li>
                                    <li>@Html.ActionLink("Skinning Recipes", "CreateSkinningRecipe", "Home")</li>
                                    <li>@Html.ActionLink("Tailoring Recipes", "CreateTailoringRecipe", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("View All", "ViewAllCraft", "Home")</li>
                                </ul>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-left:2px; margin-right:2px;">
                                Skills<span class="caret"></span>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Skill Types", "CreateSkillType", "Home")</li>
                                    <li>@Html.ActionLink("Skill Effects", "CreateSkillEffect", "Home")</li>
                                    <li>@Html.ActionLink("Buffs", "CreateBuff", "Home")</li>
                                    <li>@Html.ActionLink("Debuffs", "CreateDebuff", "Home")</li>
                                    <li>@Html.ActionLink("Skills", "CreateSkill", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("View All", "ViewAllSkill", "Home")</li>
                                </ul>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-left:2px; margin-right:2px;">
                                NPCs<span class="caret"></span>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Merchants", "CreateMerchant", "Home")</li>
                                    <li>@Html.ActionLink("Waypoints", "CreateWaypoint", "Home")</li>
                                    <li>@Html.ActionLink("NPCs", "CreateNPC", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("View All", "ViewAllNPC", "Home")</li>
                                </ul>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-left:2px; margin-right:2px;">
                                Quests<span class="caret"></span>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Kill Requirements", "CreateKillRequirements", "Home")</li>
                                    <li>@Html.ActionLink("Talk Requirements", "CreateTalkRequirements", "Home")</li>
                                    <li>@Html.ActionLink("Collect Requirements", "CreateCollectRequirement", "Home")</li>
                                    <li>@Html.ActionLink("Sell Requirements", "CreateSellRequirement", "Home")</li>
                                    <li>@Html.ActionLink("Buy Requirements", "CreateBuyRequirement", "Home")</li>
                                    <li>@Html.ActionLink("Location Requirements", "CreateLocationRequirement", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Quest Stages", "CreateQuestStage", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Quest Rewards", "CreateQuestReward", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Quests", "CreateQuest", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("View All", "ViewAllQuest", "Home")</li>
                                </ul>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-left:2px; margin-right:2px;">
                                Events<span class="caret"></span>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Zone Events", "CreateZoneEvent", "Home")</li>
                                    <li>@Html.ActionLink("Server Events", "CreateServerEvent", "Home")</li>
                                    <li>@Html.ActionLink("Guild Events", "CreateGuildEvent", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("View All", "ViewAllEvent", "Home")</li>
                                </ul>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-left:2px; margin-right:2px;">
                                Start Values<span class="caret"></span>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Character Stats", "CharacterStatsOptions", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Crafting", "CraftingOptions", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Inventory", "InventoryOptions", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Bank", "BankOptions", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Equipment", "EquipmentOptions", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Character Races", "CharacterRaceOptions", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("View All", "ViewAllStartValue", "Home")</li>
                                </ul>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-left:2px; margin-right:2px;">
                                Level Values<span class="caret"></span>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Character Stats Per Level", "CharacterStatsOptions", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Crafting Experience Per Level", "CraftingOptions", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Alternate Points Per Level", "InventoryOptions", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("View All", "ViewAllLevelValue", "Home")</li>
                                </ul>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-left:2px; margin-right:2px;">
                                General<span class="caret"></span>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Guilds", "CreateGuild", "Home")</li>
                                    <li>@Html.ActionLink("Guild Roles", "CreateGuildRole", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("View All", "ViewAllGeneral", "Home")</li>
                                </ul>
                            </a>
                        </li>
                    }
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dungeon Crawler - Tristyn Mackay</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
